data/
data.zip

results/*.npz
results/*.log
results/*.png

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
venv/
.venv/

# R
.Rhistory
.RData

# Editors / OS
.vscode/
.obsidian/
.DS_Store
Thumbs.db

INFO-CARD.md
offical-notes/
results/figures/
docs/
*_original*
